.phone-structure {
  border: 5px solid white;
  border-radius: 15px;
  width: 100px;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
}

.background-style-default {
  background: rgb(0, 0, 0) linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 100, 0.90) 98%) !important;
}

.background-style-black {
  background: rgb(0, 0, 0) !important;
}

.background-style-white {
  background: rgb(255, 255, 255) !important;
  color: black !important;
}

.background-style-red {
  background: rgb(212, 55, 45) !important;
}

.background-style-blue {
  background: rgb(0, 122, 255) !important;
}

.background-style-green {
  background: rgb(0, 160, 80) !important;
}

.background-style-rose {
  background: rgb(251, 204, 231) !important;
  color: #3e3937 !important;
}

.background-style-orange {
  background: rgb(255, 135, 81) !important;
}

.a-white, .a-white:focus, .a-white:hover {
  color: #000000 !important;
}

.a-black, .a-black:focus, .a-black:hover {
  color: #ffffff !important;
}

.a-blue, .a-blue:focus, .a-blue:hover {
  color: #ffffff !important;
}

.a-green, .a-green:focus, .a-green:hover {
  color: #ffffff !important;
}

.a-red, .a-red:focus, .a-red:hover {
  color: #ffffff !important;
}

.a-orange, .a-orange:focus, .a-orange:hover {
  color: #ffffff !important;
}

.a-rosa, .a-rosa:focus, .a-rosa:hover {
  color: #ffffff !important;
}

.avatar-circle {
  margin-top: 5px;
  border-radius: 100px;
  border-width: 12px;
  border-style: solid;
  min-height: 25px;
  width: 25%;
  background-color: white;
}

.avatar-circle-black {
  border-color: black;
  background-color: black;
}

.avatar-circle-white {
  border-color: white;
  background-color: white;
}

.linq-button-style {
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 5px;
}

.linq-button-style-default {
  background-color: white;
  color: black;
}

.linq-button-style-black {
  background-color: white;
  color: black;
}

.linq-button-style-white {
  background-color: #000000ba;
  color: white;
}

.linq-button-style-red {
  background-color: white;
  color: black;
}

.linq-button-style-blue {
  background-color: white;
  color: black;
}

.linq-button-style-green {
  background-color: white;
  color: black;
}

.linq-button-style-rose {
  background-color: white;
  color: #3e3937;
}

.linq-button-style-orange {
  background-color: white;
  color: black;
}

.theme-grid {
  padding-top: 5px;
  padding-bottom: 5px;
}
